
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<script>
    new Card("warning")
        .header("Customer")
        .body("Quản lý khách hàng")
        .footer("<a href='admin/customer'>Add</a>")
        .render();
</script>

